html {
    scroll-behavior: smooth;
    background-image: url("/recursos/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Orbitron', sans-serif;
    color: rgb(232, 212, 232);
}

#encabezado{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
}

#encabezado p{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

body {
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 80px auto 400px;
    height: 328px;
}

#listaIzquierda {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 0 0 auto;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 20%;
    box-shadow: 2px 2px 4px rgb(1, 6, 69), 0 0 10px rgb(1, 6, 69);
    transition: box-shadow 0.3s ease-in-out;

}

#listaIzquierda li {
    margin: 20px;
    transition: transform 0.5s ease-in-out;
}

#listaIzquierda li iframe {
    width: 90%;
    height: 480px;
    position: absolute;
    top: 10%;
    right: 0;
    transition: transform 0.3s ease;
    border:0px;
}

#listaIzquierda > ul {
    margin-bottom: 450px;
}

#listaIzquierda > div {
    margin-top: 10px;
}

#listaIzquierda li:hover {
    transform: scale(1.2);
}

#listaIzquierda li .containerIframe:hover{
    transform: scale(1.7);
    position: absolute;
    bottom: 210px;
    width: 100%;
}

#genero{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
}

#imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: 200%;
    margin: 1% auto 0;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}


#imagenes a {
    display: inline-block;
    width: 30%;
    margin: 1%;
}

#imagenes a video{
    box-shadow: 2px 2px 4px rgba(60, 0, 0, 3), 0 0 10px rgba(75, 0, 130, 0.8);
}

#imagenes img:hover,
#imagenes video:hover {
    transform: scale(1.45);
}

#imagenes img,
#imagenes video {
    display: inline-block;
    width: 60%;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

#registroContainer {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    
}

#registro {
    margin: 200px auto;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    position: relative;
    box-shadow: 2px 2px 4px rgba(60, 0, 0, 3), 0 0 10px rgba(75, 0, 130, 0.8);
}

#registro input{
    font-family: 'Orbitron', sans-serif;
}

#registro input:hover,
#registro select:hover,
#registro select:focus,
#registro button:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#registro button {
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    height: 40px;
    width: 300px;
    font-size: 30px;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    font-family: 'Orbitron', sans-serif;
}


#registro h1 {
    color: white;
    text-align: center;
}

#registro table {
    margin: auto;
    font-size: 30px;
    height: 600px;
    width: 80%;
    text-align: center;
}

#registro input,
#registro select {
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    height: 40px;
    width: 300px;
    font-size: 30px;
    text-align: center;
}

iframe {
    position: absolute;
    right: 0;
    height: 660px;
    width: 380px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 60px;
}